.container1{
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(64, 123, 175);
    font-family: 'Poppins';
}
.container2 {
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(64, 123, 175);
    font-family: 'Poppins';
    position: bottom
;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 400px;
}

.title {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 1px;
}

.lable {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px; 
}

.box {
    text-align: center;
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 1px;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 18px;
    outline: 4;
    padding: 4px 20px 0;
    width: 100%;
}

.button {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
    outline: 0;
    text-align: center;
    width: 100%;
}
  
.button:active {
    background-color: #06b;
}

.error {
    text-align: center;
    color: rgb(255, 0, 51);
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 10px; 
}

.tablehead {
    
    align-content: center;
    justify-content: center;
}

.tableheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 100px;
    padding: 20px;
    background-color: rgb(187, 177, 177);
}

.table_header p{
    color: black;
}

.add_new {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    height: 40px;
    outline: 0;
    text-align: center;
    width: 40%;
}

.add_new:active {
    background-color: #06b;
}

.search_box {
    text-align: center-left;
    height: 50px;
    position: relative;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    outline: 8;
    height: 40px;
    width: 100%;
}

.tablesection {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    height: 800px;
    width: 1600px;
    padding: 20px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;

}


.content-table thead tr {
    background-color: rgb(0, 179, 255);
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th {
    padding: 12px 15px;
}

.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #999999;;
}